body {
  margin: 0;
  background-color: blue;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.test {
  background-color: green;
}

@media screen and (max-width: 670px) {
  .test {
    background-color: red;
  }
  .container {
    width: 200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
